{
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"no-unused-vars": ["error", {"args": "none"}],
		"no-console": "off"
	},

	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	}
}
